<body>
    <header>
        <div class="logo">
            <img src="logouleam.png">
        </div>
        <nav>
            <a routerLink="/menu"><button onclick=""><h3>Regresar</h3></button></a>
        </nav>
    </header>
    <div class="cuerpo">
            <strong>Perfiles ex-estudiantes ULEAM</strong> 
            <hr>
            <div>
             <h4>Luis Mendoza</h4>
            <h5><p>Ing. en Ingeniería en sistemas.</p> <p>Seguridad informática.</p></h5>
            <img src="../assets/graduado1.jpg"
             width="400"
            height="341">
            </div>
            <hr>
            <div>
                <h4>Daniela Loor</h4>
            <h5><p>Ing. en Ingeniería Idustrial.</p> <p>Electrotécnica.</p></h5>
            <img src="../assets/graduado2.jpg"
            width="400"
             height="341">
            </div>
            <hr>
           <div>
            <h4>Jord Pereira</h4>
            <h5><p>lcdo. Gestión de la Información Gerencial.</p> <p>Gestión de Empresas.</p></h5>
            <img src="../assets/graduado3.jpg"
             width="400"
            height="341">  
        </div>
        </div> 
    <nav>
    <a routerLink="/login"><button onclick=""><h3>Salir</h3></button></a>
    </nav>
    <br><br><br><br><br>
    <footer>
        <div class="logo2">
            <img src="logouleam.png">
        </div>
        <nav class="navv">
            <a href="#"><pre>ULEAM @ Copyright 2022, Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabi</pre></a>
            <a href="#"><pre>Dirección: Av. Circunvalación - Vía a San Mateo</pre></a>
            <a href="#"><pre>Manta - Manabí - Ecuador</pre></a>
        </nav>
        </footer>
</body>