h1{
    text-align: center;
    text-decoration: underline;
    background: rgb(63, 204, 50);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 4;
    background-image: url("https://scontent.fmec3-1.fna.fbcdn.net/v/t39.30808-6/278452326_7996091283749529_8539820017964371169_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=111&ccb=1-7&_nc_sid=85a577&_nc_ohc=Ett0KgyxqVMAX9wTjAO&_nc_ht=scontent.fmec3-1.fna&oh=00_AT91UHbOIvitnI43zzIwyzhU9Wlps3ppy01hJ1JxQVbE5w&oe=6290259A");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 99%;
    padding: 15px;

}
.formulario{
    background-color: rgba(100, 100, 100, 0.822);
    margin-top: 100px;
    padding: 3px;
    border-radius: 50%;
    top: -50;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgba(12, 12, 12, 0.342);
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 35%;
    color: white;
    font-size: 20px;
    background:  #ff0000;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background: rgba(255, 0, 0, 0.575);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: rgba(238, 248, 238, 0.911);
    font-weight: 600;
}
.link:hover{
     color: rgba(17, 233, 17, 0.911);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 600px;
        margin-top: 200px;
        border-radius: 2%;
    }
}

.linkrecuperar{
    text-decoration: none;
      color: rgba(238, 248, 238, 0.911);
    font-weight: 600;
}
