<body>
    <h1>Formulario Registro</h1>
    <form action="" class="form-register" id="formulario-registro">
        <h2 class="form__titulo">Crea tu Cuenta</h2>
        <div class="contenedor-input">
            <label><b>Nombres:</b></label><br>
            <input type="text" id="nombres" name="nombres" placeholder="Ingrese sus nombres" class="input-48"><br>
            <label><b>Apellidos:</b></label><br>
            <input type="text" id="apellidos" name="apellidos" placeholder="Ingrese sus apellidos" class="input-48"><br>
            <label><b>Cédula I.:</b></label><br>
            <input type="text" id="cedula" name="cedula" placeholder="Ingrese su número de cédula" class="input-100"><br>
            <label><b>Teléfono :</b></label><br>
            <input type="text" id="telefono" name="teléfono" placeholder="Teléfono" class="input-100"><br>
            <label><b> Correo electrónico:</b></label>
            <input type="email" id="correo" id="correo" onfocusout="validarCorreo()" name="correo" placeholder="Correo Electrónico" class="input-110">
            <label><b> Contraseña:  </b></label>
            <input type="password" id="password" name="contraseña" tipo="contraseña" placeholder="Contraseña" class="input-50">
            <label><b> Repetir contraseña:</b></label>
            <input type="password" id="confirm_password" name="repetircontraseña" placeholder="Repetir Contraseña" class="input-50"><span id='message'></span>
            <label><b> Inicio de estudio universitarios:</b></label>
            <input id="inicio" type="date" class="input-45">
            <label><b> Egreso de estudio universitarios:</b></label>
            <input id="egreso" type="date" class="input-40">
            <label class="radio">
                Sexo: 
                <input type="radio" name="sexo" value="hombre"/>
                Masculino
                </label>
                <input type="radio" name="sexo" value="mujer"/>
                Femenino 
                <br>
            <input type="submit" value="Registrarse" class="btn-enviar" id="boton"> </div>
        <p class="form__link">¿Ya tienes cuenta? <a class="link" href="Inicio.html">Inicia Sesión</a></p>
        <b>VOLVER A PÁGINA PRINCIPAL</b>
    </form>
    <script src="validar2.js"></script>
</body>
