*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(https://scontent.fmec3-1.fna.fbcdn.net/v/t1.18169-9/28635_129136630445073_1116300_n.jpg?stp=cp0_dst-jpg_e15_q65_s320x320&_nc_cat=102&ccb=1-7&_nc_sid=7aed08&_nc_ohc=Upzn6i75p7kAX96-UZH&_nc_ht=scontent.fmec3-1.fna&oh=00_AT8rVj_cP5wJqapMiReIVtLr334tr-kFWlrp1KsK-dcKtw&oe=62AFD38C);
    background-repeat: url(https://scontent.fmec3-1.fna.fbcdn.net/v/t1.18169-9/28635_129136630445073_1116300_n.jpg?stp=cp0_dst-jpg_e15_q65_s320x320&_nc_cat=102&ccb=1-7&_nc_sid=7aed08&_nc_ohc=Upzn6i75p7kAX96-UZH&_nc_ht=scontent.fmec3-1.fna&oh=00_AT8rVj_cP5wJqapMiReIVtLr334tr-kFWlrp1KsK-dcKtw&oe=62AFD38C);
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    background: rgba(158, 158, 158, 0.685);

}

.form-register{
    width: 90%;
    max-width: 990px;
    margin: auto;
    background: rgb(167, 163, 163);
    border-radius: 9px;
    margin-top: 30px;
    padding: 2px;
}

.form__titulo{
    background: rgba(166, 255, 166, 0.685);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 55px;
    border-radius: 7px;
}

.contenedor-input{
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fechas{
    padding: 15px 20px;
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 0;
    border-color: green;
    
}

.input-48{
    width: 40%;
}

.input-100{
    width: 40%;
}

.input-110{
    width: 77%;
}
.input-50{
    width: 30%;
}
.btn-enviar{
    background: red;
    color:white;
    margin: auto;
    padding: 15px 20px;
    font-size: 20px;
    border-color: rgb(255, 37, 37);
}

.form__link{
    width: 70%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}

.input-45{
    width: 17%;
}

.input-40{
    width: 17%;
}

.link{
    text-decoration: none;
      color: green;
    font-weight: 600;
}
